/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

/* COMMONS */
h4,
h6 {
  color: white;
}

a {
  text-decoration: none;
  color: #6ecbeb;
}

/* HEADER */
header {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #e53170;
  font-weight: 700;
}

h1 + p {
  width: 70%;
  margin: 40px auto 10px auto;
}

/* MAIN */
.container {
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.box {
  margin: 20px 10px;
  height: 100px;
  width: calc(100% / 3 - 20px);
  background-color: #0f0e17;
  float: left;
  -webkit-box-shadow: 0px 0px 17px -4px #000000;
  -moz-box-shadow: 0px 0px 17px -4px #000000;
  -o-box-shadow: 0px 0px 17px -4px #000000;
  box-shadow: 0px 0px 17px -4px #000000;
}

.img {
  height: 100px;
  width: 100px;
  background-color: #747479;
  float: left;
}

.img img {
  width: 100%;
}

.info {
  height: 100%;
  width: calc(100% - 100px);
  padding: 10px;
  float: left;
}

/* CARDS */
h6 {
  font-size: 12px;
  font-weight: normal;
}

.info * {
  margin: 5px;
}
